
<div>
    {{#if isAdmin}}
        <h1>Bienvenido admin! buenas noches</h1>
        <div id="productos-contenedor"></div>
    {{else}}
        <h2>No tenes permisos para visualizar algo</h2>
    {{/if}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/condicional.js"></script>
